@import "open-props/postcss/style";
@import "open-props/postcss/normalize";

.diagram {
  background-color: var(--lime-1);
  height: 400px;
}

.diagram svg {
  width: 100%;
  height: 100%;
}

svg path.grid {
  fill: none;
  stroke: var(--gray-6);
  stroke-width: 1;
}

svg path.hover {
  fill: var(--blue-6);
  stroke: none;
  pointer-events: none;
  transition: opacity 160ms ease-out;
}
